dist/
target/
/archive.rs
*_old.rs

/testing_files

/config/
/logs/
/servers/
/share/


# The Communicator and everything related to it remains unused until the Runner gets implemented
/src/communicator/
/libs/proc_macros/src/match_command.rs
/libs/common/src/communicator/